<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Choice</h2>
        </div>
        <!--<div class="col-md-4" ng-controller="QuestionController">-->
        <div class="col-md-4">
            <pre>$route = {[{$route}]}</pre>
            <pre>$location = {[{$location.path()}]}</pre>
            <pre>MainController.$routeParams = {[{$routeRarams}]}</pre>
            <pre>ChoiceController.$routeParams = {[{routeRarams}]}</pre>
            <pre>{[{post.question.question_text}]}</pre>
            <pre>{[{post.choice_text}]}</pre>
            <pre>{[{opts.backdropFade}]}</pre>
        </div>
        <div class="col-md-4">
            <h2>Hello World3!</h2>
        </div>
    </div>
</div>